header {
  height: 400px;
  width: 100%;
  position: absolute;
  text-align: center;
  top: 121px;
  background-color: #f4f1ec;
  background-image: url("../images/3px-tile.png");
  /* This is mostly intended for prototyping; please download the pattern and 
re-host for production environments. Thank you! */
}
