nav {
  height: 120px;
  position: sticky;
  width: 100%;
  z-index: 10;
  background-color: olive;
  background-image: url("../images/45-degree-fabric-light.png");
  color: #ffff;
  font-family: "Bungee";
  padding: 1.5em;
  font-size: 35px;

  /* required for position sticky */
  top: 0;
}

#compose {
  color: #ffff;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  background-color: olive;
  background-image: url("../images/45-degree-fabric-light.png");
  border: none;
}

#compose span.lower {
  font-family: Source Sans Pro;
}

nav.container {
  display: flex;
  justify-content: space-between;
}

@-webkit-keyframes arrow-jump {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0px);
  }
}

#arrow {
  animation: arrow-jump 1.4s infinite;
}
