nav {
  height: 120px;
  position: sticky;
  width: 100%;
  z-index: 10;
  background-color: #4056a1;
  color: #ffff;
  font-family: "Bungee";
  padding: 1.5em;
  font-size: 35px;
}

nav div {
  font-family: Source Sans Pro;
  font-size: 24px;
  font-weight: 700;
  /* position: relative; */
}

nav.container {
  display: flex;
  justify-content: space-between;
}
