nav {
  height: 120px;
  position: sticky;
  width: 100%;
  z-index: 10;
  background-color: rgb(235, 172, 48);
  background-image: url("../images/45-degree-fabric-light.png");
  color: #ffff;
  font-family: "Bungee";
  padding: 1.5em;
  font-size: 35px;

  /* required for position sticky */
  top: 0;
}

nav div {
  font-size: 24px;
  font-weight: 400;
  position: relative;
}

nav span.lower {
  font-family: Source Sans Pro;
  font-size: 24px;
  font-weight: 400;
}

nav.container {
  display: flex;
  justify-content: space-between;
}
